@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 258 90% 66%;
    --primary-opaque: 258 88% 71%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --chart-1: 258 90% 66%;
    --chart-2: 220 89% 66%;
    --chart-3: 297 89% 66%;
    --chart-4: 238 89% 66%;
    --chart-5: 258 78% 82%;

    --radius: 0.5rem;

    --fc-border-color: hsl(var(--border));
    --fc-today-bg-color: hsl(var(--background));
    --fc-event-bg-color: hsl(var(--primary-opaque));
    --fc-event-border-color: transparent;
    --fc-page-bg-color: hsl(var(--primary));
    .fc-toolbar {
      display: none;
    }
    .fc-timegrid-slot {
      height: 3rem;
    }
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 6% 10% / 50%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 258 90% 66%;
    --primary-opaque: 256 40% 16%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 258 90% 66%;
    --chart-2: 220 89% 66%;
    --chart-3: 297 89% 66%;
    --chart-4: 238 89% 66%;
    --chart-5: 258 78% 82%;
  }
}
@layer base {
  * {
    @apply border-border;
  }

  body,
  html {
    @apply min-h-screen w-full;
  }

  body {
    @apply bg-background text-foreground w-screen overflow-x-hidden;
  }

  .perspective {
    transform: perspective(1000px) rotateY(-13deg) rotateX(5deg) rotate(1deg)
      scaleY(0.9) scaleX(0.95) translate(-3%) translateY(-3%);
    @apply transition-transform duration-500 ease-in-out;
  }

  .perspective:hover {
    transform: scale(0.9) rotateY(0deg) rotateX(0deg) rotate(0deg) translateY(0);
  }
}
